<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>
  </tr>

  <%= render(@invoices) || "No Invoices"%>
  <%#= render :partial => "invoice", :collection => @invoices %>

  <% #@invoices.each do |invoice| %>
  <%#= render partial: "invoice", locals: {invoice: invoice} %>
  <% #end %>

</table>
