<% #binding.pry %>
<%if @invoices!=[]%>
  <h1>Invoices</h1>
  <table>
    <tr>
      <th>Invoice Id</th>
      <th>Customer</th>  
    </tr>
    <tr>
      <%= render @invoices %>
    </tr>
  </table>
<%else%>
  No Invoices
<%end%>

