 <% order.products.each do |p| %>  
  <tr>
    <td><%= order.id %></td>
    <td><%= p.name %></td>
    <td><%= p.price %></td>
    <td><%= order.customer.name %></td>
  </tr>
<% end %>

<!-- How are we able to use "order" from the rendered collection @orders instance variable array here??? -->