<% if !@orders.blank?%>
    <h2>Open Orders</h2>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Product
        <th>Price
        <th>Customer</th>
      </tr>
      <%=render @orders%>
    </table>
    <%else%>
    <h1>No Orders</h1>
    <%end%>
