<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>  
  </tr>
  <% if @orders != [] %>
  <%= render(@orders) %>
  <% else %>
  No Orders
  <% end %>
    
</table>