<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>
  </tr>
  <!-- Orders BELONG_TO invoice orders.invoice? -->
  <%= render(@orders) || "No Orders" %>
</table>
