<% if @orders != nil %>
  <h2>Open Orders</h2>
  <table>
    <tr>
      <th>Order Id:</th>
      <th>Product
      <th>Price
      <th>Customer</th>  
    </tr>
<% end %>

  <%= render(@orders) || "No Orders" %>

<% if @orders != nil %>
  </table>
<% end %>